name: Build APK

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Build type'
        required: true
        default: 'debug'
        type: choice
        options:
          - debug
          - release

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Build APK
        run: ./gradlew assemble${{ inputs.build_type == 'debug' && 'Debug' || 'Release' }} --stacktrace
      
      - name: Upload APK
        uses: actions/upload-artifact@v5
        with:
          name: app-${{ inputs.build_type }}
          path: app/build/outputs/apk/${{ inputs.build_type }}/app-${{ inputs.build_type }}${{ inputs.build_type == 'debug' && '' || '-unsigned' }}.apk
          retention-days: 30
